<!--Start welcome edit client-->
<div class="content-heading">
    <div>
        💻 Edit client
        <br>
        <small><b> The Client class represents an OpenID Connect or OAuth 2.0 client - e.g. a native application, a web
                application or a JS-based application..</b></small>
    </div>
</div>
<button nz-button nzType="primary" nzButtonSize="large" nzShape="round" routerLink='/clients'><i nz-icon
        nzType="rollback"></i>Go back</button>
<!--End welcome edit client-->
<nz-tabset>
    <nz-tab nzTitle="Basic">
        <nz-spin [nzSpinning]="isSpinning">
            <form nz-form nzSpan="12" nzOffset="6" [formGroup]="basicForm"
                (ngSubmit)="submitBasicForm(basicForm.value)">
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">ClientId</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <input nz-input formControlName="clientId" readonly />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired>Client Name</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="clientNameErrorTpl">
                        <input nz-input formControlName="clientName" placeholder="Client name" />
                        <ng-template #clientNameErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input your Client Name!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Description</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <textarea formControlName="description" nz-input rows="4"
                            placeholder="Write client description..."></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24" nzRequired>Client Uri</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating..."
                        [nzErrorTip]="clientUriErrorTpl">
                        <input nz-input formControlName="clientUri" placeholder="Client uri" />
                        <ng-template #clientUriErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input your Client Uri!
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Logo Uri</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                        <input nz-input formControlName="logoUri" placeholder="Logo uri" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Allowed Cors Origins</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                        <nz-tag nzColor="processing" *ngFor="let tag of allowedCorsOrigins" [nzMode]="'closeable'"
                            (nzOnClose)="closeTagAllowedCorsOrigins(tag)">
                            {{ sliceTagName(tag) }}
                        </nz-tag>
                        <nz-tag *ngIf="!inputAllowedCorsOriginsVisible" class="editable-tag" nzNoAnimation
                            (click)="showAllowedCorsOriginsInput()"> <i nz-icon nzType="plus"></i> New Cors Origins
                        </nz-tag>
                        <input formControlName="allowedCorsOrigins" #inputElement nz-input nzSize="small"
                            *ngIf="inputAllowedCorsOriginsVisible" type="text"
                            [(ngModel)]="inputAllowedCorsOriginsValue" style="width: 78px;"
                            (blur)="inputConfirmAllowedCorsOrigins()"
                            (keydown.enter)="inputConfirmAllowedCorsOrigins()" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzOffset]="7" [nzSpan]="12">
                        <button nz-button nzType="primary" [disabled]="!basicForm.valid">Save Changes</button>
                        <button nz-button routerLink='/clients'>Cancel</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Setting">
        <nz-spin [nzSpinning]="isSpinning">
            <form nz-form nzSpan="12" nzOffset="6" [formGroup]="settingForm"
                (ngSubmit)="submitSettingForm(settingForm.value)">
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Enable</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="enabled"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Allowed Scopes</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                        <nz-tag nzColor="processing" *ngFor="let tag of allowedScopes" [nzMode]="'closeable'"
                            (nzOnClose)="closeTagAllowedScopes(tag)">
                            {{ sliceTagName(tag) }}
                        </nz-tag>
                        <br><br>
                        <p>Add new scope:</p>
                        <hr>
                        <nz-tag nz-row *ngFor="let tag of allScopes" nzMode="checkable" nzColor="warning"
                            (nzCheckedChange)="addAllowedScope(tag)"> +
                            {{ tag }}
                        </nz-tag>

                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Redirect Uri's</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                        <nz-tag nzColor="processing" *ngFor="let tag of redirectUris" [nzMode]="'closeable'"
                            (nzOnClose)="closeTagRedirectUris(tag)">
                            {{ sliceTagName(tag) }}
                        </nz-tag>
                        <nz-tag *ngIf="!inputRedirectUrisVisible" class="editable-tag" nzNoAnimation
                            (click)="showRedirectUrisInput()"> <i nz-icon nzType="plus"></i> New Redirect Uri </nz-tag>
                        <input #inputElement formControlName="redirectUris" nz-input nzSize="small"
                            *ngIf="inputRedirectUrisVisible" type="text" [(ngModel)]="inputRedirectUrisValue"
                            style="width: 78px;" (blur)="inputConfirmRedirectUris()"
                            (keydown.enter)="inputConfirmRedirectUris()" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Client Secrets</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <button nz-button nzType="primary" [routerLink]="['../secrets']">Client Secrets</button>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">Allowed Grant Types</nz-form-label>
                    <nz-form-control [nzSm]="24" nzHasFeedback nzValidatingTip="Validating...">
                        <nz-tag nzColor="processing" *ngFor="let tag of allowedGrantTypes" [nzMode]="'closeable'"
                            (nzOnClose)="closeTagAllowedGrantTypes(tag)">
                            {{ sliceTagName(tag) }}
                        </nz-tag>
                        <br><br>
                        <p>Add new grant type:</p>
                        <hr>
                        <nz-tag nz-row *ngFor="let tag of allGrantTypes" nzMode="checkable" nzColor="warning"
                            (nzCheckedChange)="addAllowedGrantTypes(tag)"> +
                            {{ tag }}
                        </nz-tag>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Require Consent Screen</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="requireConsent"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Remember Consent</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="allowRememberConsent"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Allow Offline Access</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="allowOfflineAccess"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Require Client Secret</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="requireClientSecret"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Protocol Type</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <input nz-input formControlName="protocolType" id="protocolType" readonly />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Require Pkce</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="requirePkce"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Allow Plain Text Pkce</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="allowPlainTextPkce"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Allow Access Token Via Browser</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <nz-switch formControlName="allowAccessTokensViaBrowser"></nz-switch>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]=" 6" [nzXs]="24">Properties</nz-form-label>
                    <nz-form-control [nzSm]="24">
                        <button nz-button nzType="primary" [routerLink]="['../properties']">Properties</button>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control [nzOffset]="7" [nzSpan]="12">
                        <button nz-button nzType="primary" [disabled]="!settingForm.valid">Save Changes</button>
                        <button nz-button routerLink='/clients'>Cancel</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Authentication">

    </nz-tab>
    <nz-tab nzTitle="Token">

    </nz-tab>
    <nz-tab nzTitle="Device Flow">

    </nz-tab>
</nz-tabset>